bindings/** linguist-vendored
bindings/cpp/* linguist-vendored
bindings/c/* linguist-vendored
bindings/py/* linguist-vendored
dggal.org/** linguist-vendored
Makefile linguist-vendored
Makefile.dgg linguist-vendored
Makefile.dggal linguist-vendored
Makefile.dgg.static linguist-vendored
Makefile.dggal.static linguist-vendored
tests/Makefile linguist-vendored
bindings/c/Makefile linguist-vendored
bindings/c/dggal_c.Makefile linguist-vendored
bindings/c/eC_c.Makefile linguist-vendored
bindings/c/ecere_c.Makefile linguist-vendored
bindings/cpp/dggal_cpp.Makefile linguist-vendored
bindings/cpp/eC_cpp.Makefile linguist-vendored
bindings/cpp/ecere_cpp.Makefile linguist-vendored
bindings_examples/c/Makefile linguist-vendored
bindings_examples/c/Makefile.static linguist-vendored
bindings_examples/cpp/Makefile.static linguist-vendored
bindings_examples/cpp/Makefile linguist-vendored
